.ipynb_checkpoints/
books/
venv/
venv37/
virtualenv/
data/
models/
node_modules/

*__pycache__/
*.pytest_cache/
*.mypy_cache/
.vscode/
.pytest_cache/
.vscode
*.Rproj.user
*.Rproj
*.RData
*.Rhistory
.Rproj.user
*.pdf
spark-3.1.2-bin-hadoop3.2/
secret/
*.out
*/*.out
*.class
*.idea/
*out/
*.iml
*.o


*rust_project/target/
*.db
scala_study/null/
scala_study/.metals/
models/
.clj-kondo/
.lsp/