aplus==0.11.0
appdirs==1.4.4
argon2-cffi==20.1.0
astropy==4.0.1.post1
attrs==20.1.0
backcall==0.2.0
bleach==3.1.5
boto3==1.14.47
botocore==1.17.47
bqplot==0.12.16
branca==0.4.1
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cloudpickle==1.5.0
colorama==0.4.3
conda==4.8.3
conda-package-handling==1.7.0
cryptography==2.9.2
cycler==0.10.0
dask==2021.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
docutils==0.15.2
entrypoints==0.3
filelock==3.0.12
future==0.18.2
h5py==2.10.0
idna==2.9
ipydatawidgets==4.0.1
ipykernel==5.3.4
ipyleaflet==0.13.3
ipympl==0.5.7
ipython==7.31.1
ipython-genutils==0.2.0
ipyvolume==0.5.2
ipyvue==1.4.0
ipyvuetify==1.5.1
ipywebrtc==0.5.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.2.5
jupyterlab-server==1.2.0
kiwisolver==1.2.0
llvmlite==0.34.0
MarkupSafe==1.1.1
matplotlib==3.3.1
menuinst==1.4.16
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.7
nest-asyncio==1.4.0
notebook==6.4.12
numba==0.51.0
numpy==1.21.0
packaging==20.4
pandas==1.1.1
pandocfilters==1.4.2
parso==0.7.1
pickleshare==0.7.5
Pillow==9.0.0
progressbar2==3.51.4
prometheus-client==0.8.0
prompt-toolkit==3.0.6
psutil==5.7.2
pyarrow==1.0.1
pycosat==0.6.3
pycparser==2.20
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
python-utils==2.4.0
pythreejs==2.2.0
pytz==2020.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.6
QtPy==1.9.0
requests==2.23.0
ruamel-yaml==0.15.87
s3fs==0.2.2
s3transfer==0.3.3
sas7bdat==2.2.3
sas7bdat-converter==0.4.0
scikit-learn==0.24.1
scipy==1.6.1
seaborn==0.11.1
Send2Trash==1.5.0
six==1.14.0
tabulate==0.8.7
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
toolz==0.10.0
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
traittypes==0.2.1
urllib3==1.25.8
vaex==3.0.0
vaex-arrow==0.5.1
vaex-astro==0.7.0
vaex-core==2.0.3
vaex-hdf5==0.6.0
vaex-jupyter==0.5.2
vaex-ml==0.9.0
vaex-server==0.3.1
vaex-viz==0.4.0
vboxapi==1.0
virtualenv==20.0.31
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
xarray==0.16.0
XlsxWriter==1.3.3
