{% extends 'main.html' %} 
{% block content %}
<!-- {% include 'navbar.html' %} -->
<!-- Django uses Jinja for templating -->
<!-- The extends is like deffining the parent 'class' -->
<!-- extends is the oposite of include, extends will call an
outer wrapper that will include code around what we have here -->

<h1>Projects Template</h1>

<p>This is where we include all of our projects</p>

<p>
	Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas ipsam harum ea
	eum ducimus assumenda cum pariatur sit ratione. Modi ipsum voluptatibus nobis
	dolore sunt, illo a sapiente corporis voluptatum.
</p>

{% endblock content %}
