{% extends "meetups/base/base.html" %}
{% load static %}

{% block title %}
{{ meetup.title }}
{% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/meetup-detail.css' %}">
{% endblock %}

{% block main_heading %}
{{ meetup.title }}
{% endblock %}

{% block header_content %}
{% endblock %}

{% block body %}

{% if meetup_found %}
<article>
  <img src="" alt="">
  <section id="location">
    <h2>Meetup Location</h2>
    <address>This meetup takes place in <span>LOCATION</span> (ADDRESS).</address>
  </section>
  <section id="details">
    <h2>What's this meetup about?</h2>
    <p>{{ meetup.description }}</p>
    <footer>
      <p>Need more details? Please <a href="">contact the organizer</a> but don't span us 😉</p>
    </footer>
  </section>
  <section id="registration">
    <h2>Join us!</h2>
    FORM
  </section>
</article>
{% else %}
<p>Sorry, we couldn't find any meetup with that slug...</p>
{% endif %}
{% endblock %}
