/* 
mario colors
red: #eb3d07



*/

body {
  position: absolute;
  background-color: #49b5fe;
}

.mario-div {
  /* 
  What is the dimension in pixels of the mario image? 
  26 x 16
  */
  position: absolute;
  /* background-color: red; */
  height: auto;
  width: 40px;
}

.mario-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.ground-terrain-div {
  /* What is the dimenstion in pixels of the ground terrain?
  22 x 16
   */
  position: absolute;
  /* background-color: red; */
  height: auto;
  width: 40px;
  top: 100px;
}

.terrain-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}