h1 {
    font-family: 'Sacramento', cursive;
    font-size: 6em;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}


h3 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;

}

a {
    color: #11999E;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: #EAF6F6;
}

.footer {
    background-color: #66BFBF;
}


.copyright {
    color: #EAF6F6;
    font-family: 'Times New Roman', Times, serif;
}

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive; 
*/